<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout class="page page-content" verticalAlignment="middle">
    <!-- <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['../item', item.id]" [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView> -->

    <Button class="btn btn-primary btn-rounded-lg" text="Vibration Pattern 1" (tap)="pattern1($event)" style="margin-bottom: 20%;"></Button>

    <Button class="btn btn-primary btn-rounded-lg" text="Vibration Pattern 2" (tap)="pattern2($event)"></Button>


</StackLayout>